In [76]:
import pandas as pd
import numpy as np
import ast

In [77]:
#Dirección del archivo
direccion = r"C:\Users\Elias\Documents\Tercer proyecto individual\Datasets\credits.csv"

# Lectura del archivo CSV
datos = pd.read_csv(direccion)

# Convertimos en un DataFrame
creditos = pd.DataFrame(datos)

# Mostramos las primeras 5 filas del DataFrame
creditos.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [78]:
# Creamos un dataframe a partir de la primera columna ["cast"] y con la columna ["id"]
cast_df = creditos[["cast", "id"]]
# Creamos un dataframe a partir de la primera columna ["crew"] y con la columna ["id"]
crew_df = creditos[["crew", "id"]]
# Visualizamos los datos del 1er dataframe
cast_df.head()

                                                cast     id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...    862
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...   8844
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...  15602
3  [{'cast_id': 1, 'character': "Savannah 'Vannah...  31357
4  [{'cast_id': 1, 'character': 'George Banks', '...  11862

In [79]:
# Creamos una función para desanidar las columnas
def desanidar(df, columns):
    for column in columns:
        df[column] = df[column].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])
        # Expandir la columna en filas
        df = df.explode(column)
        # Normalizar la columna expandida
        col_df = pd.json_normalize(df[column])
        # Renombrar las columnas normalizadas para evitar superposiciones
        col_df = col_df.add_prefix(f'{column}')
        # Concatenar las columnas normalizadas con el DataFrame original
        df = df.drop(columns=[column]).reset_index(drop=True).join(col_df)
    return df

In [80]:
# Aplicamos la función desanidar a lso 2 dataframes
cast_df_desanidado = desanidar(cast_df, ["cast"])
crew_df_desanidado = desanidar(crew_df, ["crew"])

C:\Users\Elias\AppData\Local\Temp\ipykernel_17352\3750697641.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])
C:\Users\Elias\AppData\Local\Temp\ipykernel_17352\3750697641.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])

In [81]:
# Visualizamos el dataframe "cast"
cast_df_desanidado.head()

,id,castcast_id,castcharacter,castcredit_id,castgender,castid,castname,castorder,castprofile_path
0,862,14.0,Woody (voice),52fe4284c3a36847f8024f95,2.0,31.0,Tom Hanks,0.0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg
1,862,15.0,Buzz Lightyear (voice),52fe4284c3a36847f8024f99,2.0,12898.0,Tim Allen,1.0,/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg
2,862,16.0,Mr. Potato Head (voice),52fe4284c3a36847f8024f9d,2.0,7167.0,Don Rickles,2.0,/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg
3,862,17.0,Slinky Dog (voice),52fe4284c3a36847f8024fa1,2.0,12899.0,Jim Varney,3.0,/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg
4,862,18.0,Rex (voice),52fe4284c3a36847f8024fa5,2.0,12900.0,Wallace Shawn,4.0,/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg

In [82]:
# Visualizamos el dataframe "crew"
crew_df_desanidado.head()

,id,crewcredit_id,crewdepartment,crewgender,crewid,crewjob,crewname,crewprofile_path
0,862,52fe4284c3a36847f8024f49,Directing,2.0,7879.0,Director,John Lasseter,/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg
1,862,52fe4284c3a36847f8024f4f,Writing,2.0,12891.0,Screenplay,Joss Whedon,/dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg
2,862,52fe4284c3a36847f8024f55,Writing,2.0,7.0,Screenplay,Andrew Stanton,/pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg
3,862,52fe4284c3a36847f8024f5b,Writing,2.0,12892.0,Screenplay,Joel Cohen,/dAubAiZcvKFbboWlj7oXOkZnTSu.jpg
4,862,52fe4284c3a36847f8024f61,Writing,0.0,12893.0,Screenplay,Alec Sokolow,/v79vlRYi94BZUQnkkyznbGUZLjT.jpg

In [83]:
# Escogemos las columnas que ocuparemos para nuestro modelo, del dataframe "cast"
actores = cast_df_desanidado[["id","castname"]].copy().rename(columns={"castname":"Actor"})

# Reseteamso el indice
actores.reset_index(drop=True, inplace=True)

# Visualizamos los resultados del dataframe "actores"
actores.head()

    id          Actor
0  862      Tom Hanks
1  862      Tim Allen
2  862    Don Rickles
3  862     Jim Varney
4  862  Wallace Shawn

In [84]:
# Escogemos las columnas que ocuparemos para nuestro modelo, del dataframe "crew"
crewjobs = crew_df_desanidado['crewjob'].unique()

# Visualizamos
crewjobs

array(['Director', 'Screenplay', 'Producer', 'Executive Producer',
       'Editor', 'Art Direction', 'Foley Editor', 'Animation',
       'ADR Editor', 'Orchestrator', 'Color Timer', 'CG Painter',
       'Original Story', 'Post Production Supervisor', 'Sculptor',
       'Animation Director', 'Music', 'Layout', 'Music Editor',
       'Negative Cutter', 'Title Designer',
       'Supervising Technical Director', 'Songs', 'Supervising Animator',
       'Sound Designer', 'Production Supervisor',
       'Executive Music Producer', 'Visual Effects Supervisor',
       'Visual Effects', 'Lighting Supervisor', 'Character Designer',
       'Set Dresser', 'Editorial Manager', 'Assistant Editor',
       'Editorial Coordinator', 'Production Coordinator',
       'Unit Publicist', 'Sound Re-Recording Mixer',
       'Supervising Sound Editor', 'Sound Effects Editor',
       'Sound Design Assistant', 'Assistant Sound Editor',
       'Casting Consultant', 'ADR Voice Casting',
       'Original Music Composer', 'Casting', 'Animation Supervisor',
       'Production Design', 'Director of Photography', 'Novel',
       'Characters', 'Writer', 'Sound Recordist', 'Costume Design',
       'Special Effects Coordinator', 'Special Effects',
       'Stunt Coordinator', 'Stunts', 'Set Decoration',
       'Costume Supervisor', 'Script Supervisor',
       'Art Department Coordinator', 'Assistant Art Director',
       'Construction Coordinator', 'Assistant Costume Designer',
       'Hairstylist', 'Key Hair Stylist', 'Makeup Artist',
       'Dialogue Editor', 'Camera Operator', 'Steadicam Operator',
       'Still Photographer', 'First Assistant Camera', 'Rigging Gaffer',
       'Music Supervisor', 'First Assistant Editor',
       'Technical Supervisor', 'Associate Producer',
       'Unit Production Manager', 'Assistant Director',
       'Casting Associate', 'Set Costumer', 'Digital Effects Supervisor',
       'Additional Soundtrack', 'Co-Costume Designer', 'Sound mixer',
       'Supervising Sound Effects Editor', 'Boom Operator',
       'Production Manager', 'Casting Assistant', 'Location Manager',
       'Story', 'Supervising Art Director', 'Armorer', 'Gaffer',
       'Special Effects Supervisor', 'Visual Effects Coordinator',
       'Visual Effects Editor', 'Background Designer',
       'Animation Manager', 'Co-Producer', 'Foley',
       'Construction Foreman', 'Lead Painter', 'Painter',
       'Standby Painter', 'Key Grip', 'Grip', 'Carpenter',
       'Choreographer', 'Craft Service', 'Driver',
       'Post Production Assistant', 'Property Master', 'Security',
       'Set Medic', 'Set Production Assistant', 'Stand In',
       'Transportation Captain', 'Transportation Coordinator',
       'First Assistant Director', 'Best Boy Electric', 'Electrician',
       'Production Accountant', 'First Assistant Sound Editor',
       'Production Sound Mixer', 'Sound Editor', 'Special Sound Effects',
       'Studio Teachers', 'Creative Consultant', 'Dolby Consultant',
       'Makeup Department Head', 'Author', 'Set Designer', 'Leadman',
       'Greensman', 'Helicopter Camera', 'Additional Camera',
       'Lighting Technician', 'Dialect Coach',
       'Production Office Assistant', 'Line Producer', 'Adaptation',
       'Script Editor', 'Visual Effects Designer', 'Makeup Designer',
       'Underwater Camera', 'Hair Designer', 'Propmaker',
       'Digital Compositors', 'Rigging Grip', 'Loader',
       'Video Assist Operator', 'Post-Production Manager',
       'Public Relations', 'Legal Services', 'Location Scout',
       'Production Illustrator', 'Scenic Artist',
       'Chief Lighting Technician', 'Assistant Property Master',
       'Dolly Grip', 'Wardrobe Supervisor', 'Animal Coordinator',
       'Pyrotechnician', 'Assistant Production Manager', 'Local Casting',
       'Apprentice Sound Editor', 'Musician', 'Second Assistant Director',
       'Key Makeup Artist', 'ADR & Dubbing', 'Seamstress', 'Thanks',
       'Sound Mixer', 'Set Dressing Artist', 'Storyboard',
       'Additional Music', 'Chef', 'Mixing Engineer', 'Production Intern',
       'Telecine Colorist', 'Set Dressing Production Assistant',
       'Finance', 'Theatre Play', 'Creator', 'Additional Editing',
       'Co-Executive Producer', 'Executive In Charge Of Post Production',
       'Additional Photography', 'Executive In Charge Of Production',
       'Makeup Effects', 'Color Designer', 'Transportation Co-Captain',
       'Supervising ADR Editor', 'Supervising Music Editor',
       'Makeup Effects Designer', 'Tattooist', 'Camera Intern',
       'CGI Supervisor', 'Scoring Mixer', 'Visual Effects Producer',
       'Cableman', 'Sound Engineer', 'Other', "Actor's Assistant",
       'Publicist', 'Production Controller', 'Cinematography',
       'Compositors', 'Sound', 'Prosthetic Supervisor',
       'Supervising Film Editor', 'Visual Effects Design Consultant',
       'Title Graphics', 'Scenario Writer', 'Conductor', 'Pilot',
       'Second Unit Cinematographer', 'Systems Administrators & Support',
       'Art Department Assistant', 'Camera Technician', 'Machinist',
       'Underwater Director of Photography', 'CG Supervisor',
       'Second Unit', 'Utility Stunts', 'Creature Design', 'Modeling',
       'Visual Effects Art Director', nan, 'Hair Department Head',
       'Co-Art Director', 'Aerial Camera', '3D Artist', 'Unit Manager',
       'Short Story', 'Additional Writing', 'Additional Dialogue',
       'Settings', 'Wigmaker', 'Editorial Staff', 'Camera Supervisor',
       'Key Animation', 'Picture Car Coordinator',
       'Production Office Coordinator', 'Projection', 'ADR Supervisor',
       'Aerial Coordinator', 'Sound Director', 'Vocal Coach',
       'Conceptual Design', 'Camera Department Manager', 'Screenstory',
       'I/O Manager', 'Stunts Coordinator', 'Book', 'Camera Loader',
       'Software Engineer', 'I/O Supervisor', 'Makeup Supervisor',
       'Assistant Production Coordinator', 'CG Animator',
       'Mechanical Designer', '3D Animator', 'Editorial Services',
       'Music Director', 'Art Department Manager',
       'Post Production Consulting', 'Visual Development',
       'Animation Production Assistant', 'Sequence Supervisor',
       'Character Technical Supervisor', 'Editorial Production Assistant',
       'Associate Editor', 'Animal Wrangler', 'Dialogue', 'Idea',
       'Prosthetic Makeup Artist', '3D Modeller', 'VFX Artist',
       'Lead Animator', '3D Coordinator', 'Digital Producer',
       'Martial Arts Choreographer', 'Aerial Director of Photography',
       'CGI Director', 'Presenter', 'Administration', 'Music Programmer',
       'Comic Book', 'Recording Supervision', 'Hair Supervisor',
       'Stunt Double', 'Script', 'Musical', 'Interior Designer',
       'Researcher', 'Special Guest Director', 'Continuity',
       'Mix Technician', 'Sound Montage Associate',
       'Motion Capture Artist', 'Mechanical & Creature Designer',
       'Hair Setup', 'Sound Effects', 'Commissioning Editor',
       'Conceptual Illustrator', 'Script Coordinator',
       'Executive Consultant', 'Animatronic and Prosthetic Effects',
       'Second Unit Director of Photography', 'Third Assistant Director',
       'Key Costumer', 'Marine Coordinator', 'Lighting Director',
       'Translator', '24 Frame Playback', 'Production Artist',
       'Set Decoration Buyer', 'Temp Music Editor',
       'Animatronics Designer', '3D Supervisor', 'Key Set Costumer',
       'Animation Department Coordinator', 'Sound Effects Designer',
       'Pyrotechnic Supervisor', 'Teleplay',
       'Supervising Dialogue Editor', 'Roto Supervisor',
       'Lighting Camera', 'Tailor', 'Digital Effects Producer',
       'Lighting Artist', 'Executive Visual Effects Producer',
       'Ager/Dyer', 'Utility Sound', 'Score Engineer',
       'Associate Choreographer', 'VFX Supervisor',
       'Assistant Set Dresser', 'Draughtsman', 'Costume Coordinator',
       'Aerial Camera (suggest in addition to Helicopter Camera)',
       'Tattoo Designer', 'Additional Sound Re-Recording Mixer',
       'Co-Director', 'Chief Technician / Stop-Motion Expert',
       'Costume Illustrator', 'Supervising Producer',
       'Digital Intermediate', 'Steadycam', 'Sets & Props Artist',
       'Prop Maker', 'Poem', 'Second Film Editor',
       'Additional Editorial Assistant', 'Software Team Lead',
       'Lighting Production Assistant', 'VFX Production Coordinator',
       'Sign Painter', 'Shading', 'Set Dressing Supervisor',
       'Fix Animator', 'In Memory Of', 'Best Boy Electrician',
       'Sequence Leads', 'Co-Editor', 'Lead Set Dresser',
       'Storyboard Designer', 'Documentation & Support',
       'VFX Director of Photography', 'Fight Choreographer',
       'Set Decorating Coordinator', 'Techno Crane Operator',
       'Script Researcher', 'Imaging Science', 'Aerial Camera Technician',
       'Matchmove Supervisor', 'Set Dressing Manager',
       'Animatronics Supervisor', 'Wig Designer', '2D Supervisor',
       'Animation Fix Coordinator', 'Lighting Manager',
       'Directing Lighting Artist', 'Master Lighting Artist',
       'Photoscience Manager', 'Department Administrator',
       'Information Systems Manager', 'Simulation & Effects Artist',
       'Armory Coordinator', 'Story Editor', '2D Artist', 'Gun Wrangler',
       'Consulting Producer', 'Additional Still Photographer',
       'Visual Effects Technical Director', 'Music Score Producer',
       'Radio Play', 'Pre-Visualization Supervisor', 'Underwater Gaffer',
       'Executive in Charge of Finance', 'Production Director',
       'Theme Song Performance', 'VFX Editor', 'Development Manager',
       'Manager of Operations', 'Opera', 'Quality Control Supervisor',
       'Rigging Supervisor', 'Playback Singer',
       'Creature Technical Director', 'Co-Writer',
       'Supervisor of Production Resources', 'Assistant Music Supervisor',
       'Creative Producer', 'Series Writer', 'Schedule Coordinator',
       'Temp Sound Editor', 'Comic-Zeichner', 'Lead Character Designer',
       'Voice', 'Archival Footage Coordinator',
       'Archival Footage Research', 'Set Production Intern',
       'Additional Music Supervisor', 'treatment',
       'Graphic Novel Illustrator', 'Motion Actor',
       'Battle Motion Coordinator', 'Sets & Props Supervisor',
       'Cloth Setup', 'Facial Setup Artist', 'Sequence Artist',
       'CG Engineer', 'Prop Designer', 'Shoe Design',
       'Simulation & Effects Production Assistant', 'Video Game',
       'Opening/Ending Animation', 'Epk Camera Operator',
       'Script Consultant', 'Coordinating Producer',
       'Lighting Coordinator', 'Dramaturgy', 'Prosthetic Designer',
       'Drone Operator', '3D Generalist', 'Russian Arm Operator',
       'Ultimate Arm Operator', '3D Director', 'Dramaturgie', 'Actor',
       'Costume Consultant', 'Character Modelling Supervisor',
       'Stereoscopic Coordinator'], dtype=object)

In [85]:
# Creamos una mascara que nos permita obtener los valores en los que crewjob sea == "Director"
directores = crew_df_desanidado[crew_df_desanidado['crewjob'] == 'Director']

# Aplicamos la mascara que nos permita obtener los valores
directores = directores[["id", "crewname"]].copy().rename(columns={"crewname": "Director"})

# Reseteamos el indice
directores = directores.reset_index(drop=True)

# Visualizamos los resultados del dataframe "directores"
directores.head(3)

      id       Director
0    862  John Lasseter
1   8844   Joe Johnston
2  15602  Howard Deutch

In [86]:
# Dado que un director puede dirigir multiples peliculas o una pelicual puede tener multiples directores verificamos si tenemos peliculas asi
crew_df_desanidado[(crew_df_desanidado['id'] == 5) & (crew_df_desanidado['crewjob'] == 'Director')]

,id,crewcredit_id,crewdepartment,crewgender,crewid,crewjob,crewname,crewprofile_path
400,5,52fe420dc3a36847f800012d,Directing,1.0,3110.0,Director,Allison Anders,/rsfxpcNEdmNqZyNcct0J695LhBK.jpg
401,5,52fe420dc3a36847f8000133,Directing,2.0,3111.0,Director,Alexandre Rockwell,None
402,5,52fe420dc3a36847f8000139,Directing,2.0,2294.0,Director,Robert Rodriguez,/bPqRdLWWwpOT8sBdj9PWOzNgwou.jpg
403,5,52fe420dc3a36847f800013f,Directing,2.0,138.0,Director,Quentin Tarantino,/9ci4NBvHXJktxjALdJsrtasqgtV.jpg

In [87]:
# Unimos los 2 dataframes por id , usando merge 
peliculas = pd.merge(actores, directores, on="id", how="left")

# Visualizamos los resultados del dataframe "peliculas"
peliculas.head(3)

    id        Actor       Director
0  862    Tom Hanks  John Lasseter
1  862    Tim Allen  John Lasseter
2  862  Don Rickles  John Lasseter

In [88]:
# Convertimos la columna ["Actor"] y la columna ["Director"] en cadenas de textos
peliculas['Actor'] = peliculas['Actor'].astype(str)
peliculas['Director'] = peliculas['Director'].astype(str)

In [89]:
# Agrupamos las cadenas
creditos = peliculas.groupby('id').agg({
     #Aquí se verificará si hay más de un director después de convertirse en set (eliminándose duplicados). Si hay más de 1, se concatenan separados por comas. Si sólo hay uno, se agrega el primer valor.
    'Director': lambda x: ', '.join(set(x)) if len(set(x)) > 1 else x.iloc[0], 
    'Actor': lambda x: ', '.join(x) #En este caso, siempre se concatenan los elementos.
}).reset_index() #Se concatenan por 'id' de película a los directores y actores
creditos.head()

,id,Director,Actor
0,2,Aki Kaurismäki,"Turo Pajala, Susanna Haavisto, Matti Pellonpää..."
1,3,Aki Kaurismäki,"Matti Pellonpää, Kati Outinen, Sakari Kuosmane..."
2,5,"Alexandre Rockwell, Quentin Tarantino, Robert ...","Tim Roth, Tim Roth, Tim Roth, Tim Roth, Antoni..."
3,6,Stephen Hopkins,"Emilio Estevez, Cuba Gooding Jr., Denis Leary,..."
4,11,George Lucas,"Mark Hamill, Harrison Ford, Carrie Fisher, Pet..."

In [90]:
# Por ultimo verificamos que no hallan duplicados
creditos.drop_duplicates(inplace=True)

In [91]:
# Guardamos el dataset como archivo parquet
creditos.to_parquet(r'C:\Users\Elias\Documents\Tercer proyecto individual\Datasets_limpios\creditos_desanidados.parquet')

### Enlazamiento de datasets

Para el desarrollo de la Api, es necesario tener un solo dataset

In [92]:
# Abrimos los datasets
df_peliculas = pd.read_parquet(r'C:\Users\Elias\Documents\Tercer proyecto individual\Datasets_limpios\movies_clean.parquet')
df_creditos = pd.read_parquet(r'C:\Users\Elias\Documents\Tercer proyecto individual\Datasets_limpios\creditos_desanidados.parquet')

In [93]:
# Convertimos la columna 'id' a tipo str en ambos DataFrames
df_peliculas['id'] = df_peliculas['id'].astype(str)
df_creditos['id'] = df_creditos['id'].astype(str)

# Realizamos el merge
movies_credits = pd.merge(df_peliculas, df_creditos, on='id', how='left')

In [94]:
# Guardamos el nuevo dataset en un archivo parquet
movies_credits.to_parquet(r'C:\Users\Elias\Documents\Tercer proyecto individual\Datasets_limpios\movies_credits.parquet')